* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    line-height: normal;
    font-style: normal;

    ::-webkit-scrollbar {
        width:0;
    }

}

body, html, #root {
    width: 100%;
    height: 100%;
}

.main {
    background-color: #192436;
    height: 100%;
    width: 100%;
    padding: 20px;
}