.cesium-viewer-toolbar {
    right: 85px;

    z-index: 1;
}

.cesium-viewer-animationContainer {
    display: none;
}

.cesium-viewer-timelineContainer {
    display: none;
}

.cesium-viewer-bottom {
    display: none;
}

.cesium-infoBox {
    top: 10%;
    left: 10px;
}
